if ! has nix_direnv_version || ! nix_direnv_version 3.0.6; then
    source_url "https://raw.githubusercontent.com/bbenne10/flake_env/refs/heads/main/direnvrc" "sha256-+wXkJgwfnRCJqgpRXr4o9YAJtvBaYCFo52GnIOqH05U="
fi

if nix develop .#uv2nix -c true; then
  # Primary dev shell built successfully. Now load it.
  use flake .#uv2nix
  echo -e "\033[1;34mHello Haedosa! Loaded uv2nix development shell\e[0m"

else
  # If nix develop failed, print error snippet (optional) and fall back to impure.
  echo -e "\033[1;33muv2nix flake failed to evaluate/build. Falling back to impure dev shell...\e[0m"
  use flake .#impure
fi
